<!DOCTYPE html>
<html>
  <head>
        <title>OpenROV Dashboard</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="themes/OpenROV/css/style.css">
        <link href="css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
 
 <% for(var i=0; i<styles.length; i++) { %>

        <link rel="stylesheet" href="<%= styles[i] %>">
<% } %>


    <script type="text/html" id="sidebarElementTemplate">
      <a class="" data-bind="text: $data.description, click: $data.click"></a>
    </script>

  </head>

  <body class="full-height">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container navbar-left">
            <div id="menu">
              <p class="navbar-header"><a class="navbar-brand" href="#"><img src="themes/OpenROV/img/logo.png" class="logo"/>&nbsp;Dashboard</a></p>
              <!--<ul class="nav nav-pills nav-stacked" id="menu-bar">-->
              <!--</ul>-->
            </div>
          </div>
        </div>
        
      <!-- Main ROW -->
      <div id="content" class="row full-height">
        <div class="col-lg-1 full-height" id="sidebar-container">
          <ul id="sidebar"  class="nav nav-pills nav-stacked" role="tablist" id="menu-bar">
          </ul>
        </div>
        <div id="main-row" class="col-lg-11 full-height">
        </div>
      </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type='text/javascript' src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type='text/javascript' src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script type='text/javascript' src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
        <script type='text/javascript' src='bower_components/knockout/dist/knockout.js'></script>
        <script type='text/javascript' src="bower_components/mousetrap/mousetrap.min.js"></script>
        <script type='text/javascript' src='js/DashboardViewModel.js'></script>
        <script type='text/javascript' src='js/Dashboard.js'></script>
	      <script src="/socket.io/socket.io.js"></script>

<% for(var i=0; i<scripts.length; i++) { %>
  <script type="text/javascript" src="<%= scripts[i] %>"></script>
<% }  %>

        <script>
      		var viewmodel;
          $(function() {

            var socket = io.connect();
            viewmodel = new DashboardViewModel(socket);
            
            var dashboard = new Dashboard(socket, viewmodel);

            console.log('Applying bindings');

          });

          $(document).ready(function(){
            $('#sidebar-container').height($(window).height());
          });
        </script>
  </body>
</html>